<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                    src="assets/images/default.profile.jpg" width="128" height="128"><span
                    class="font-weight-bold">Amelly</span><span class="text-black-50">amelly12@bbb.com</span><span>
                </span></div>
        </div>
        <div class="col-md-5 border-right">
            <form [formGroup]="userProfile" (ngSubmit)="submitProfile();">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">First Name</label><input type="text"
                                formControlName="first_name" class="form-control" placeholder="first name" value="">
                            <span style="color:red" *ngIf="userProfile.controls['first_name'].errors">Invalid First
                                Name</span>
                        </div>
                        <div class="col-md-6"><label class="labels">Last Name</label><input type="text"
                                formControlName="last_name" class="form-control" value="" placeholder="Last Name">
                            <span style="color:red" *ngIf="userProfile.controls['last_name'].errors">Invalid Last
                                Name</span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">PhoneNumber</label><input type="text"
                                formControlName="phone_number" class="form-control" placeholder="enter phone number"
                                value="">
                            <span style="color:red" *ngIf="userProfile.controls['phone_number'].errors">Invalid Phone
                                Number</span>
                        </div>
                        <div class="col-md-12"><label class="labels">Email ID</label><input type="text"
                                formControlName="email_address" class="form-control" placeholder="enter email id"
                                value="">
                            <span style="color:red" *ngIf="userProfile.controls['email_address'].errors">Invalid Email
                                Address</span>
                        </div>
                        <div class="col-md-12"><label class="labels">Education</label><input type="text"
                                formControlName="education" class="form-control" placeholder="education" value="">
                            <span style="color:red" *ngIf="userProfile.controls['education'].errors">Invalid
                                Education</span>
                        </div>
                    </div>
                    <div class="row mt-3" formGroupName="address">
                        <div class="col-md-12"><label class="labels">Landmark</label><input type="text"
                            formControlName="landmark" class="form-control" placeholder="enter address" value="">
                            <span style="color:red" *ngIf="userProfile.controls['address'].get('landmark').errors">Invalid
                                Landmark</span>
                        </div>
                        <div class="col-md-6"><label class="labels">Country</label><input type="text"
                            formControlName="country" class="form-control" placeholder="country" value="">
                        </div>
                        <div class="col-md-6"><label class="labels">State/Region</label><input type="text"
                            formControlName="state" class="form-control" value="" placeholder="state">
                        </div>
                    </div>
                    <div class="mt-5 text-center"><button [disabled]="userProfile.invalid"
                            class="btn btn-primary profile-button" type="submit">Save
                            Profile</button></div>
                </div>
            </form>
        </div>
        <div class="p-3 py-5">
            <pre>
                Form Errors : {{userProfile.status|json}}<br/><br/>
                Form Values : {{userProfile.value|json}}
            </pre>
        </div>
    </div>
</div>